@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
/* Style for the custom navigation buttons */
.custom-swiper-button {
  
}

.custom-swiper-button-prev {
  left: 15px; /* Move the button to the left */
}

.custom-swiper-button-next {
  right: 15px; /* Move the button to the right */
}
